/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.summary-danger {
    padding-bottom: 10px;
    display: block;
}

input[type="submit"] {
    border: 1px solid #aaa;
}

.text-center {
    text-align: center;
}

.auth-panel {
    width: 360px;
    margin: auto;
    padding: 30px;
    transform: translate(calc(50% - 50%),30%);
    border: 1px solid silver;
    border-radius: 5px;
}

.reg-panel {
    width: 720px;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    transform: translate(calc(50% - 50%));
    border: 1px solid silver;
    border-radius: 5px;
}

.enum-checkbox-item {
    display: block;
}

.enum-checkbox-item input {
    margin-right: 6px;
}

.form-group select {
    display: block;
}

.version {
    position: absolute;
    right: 0;
    color: #aaa;
}


.search-panel {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    transform: translate(calc(50% - 50%));
    border: 1px solid silver;
    border-radius: 5px;
}

.search-panel table {
    width: 100%;
}

.search-panel table, .search-panel table th, .search-panel table td {
    border: 1px solid silver;
}

.search-panel table th {
    text-align: center;
}

.search-panel table th, .search-panel table td {
    padding: 10px;
}

.nav-block {
    position: absolute;
    top: 10px;
    right: 15px;
}

.nav-block * {
    margin: 0 5px;
}

.new-post input[type="button"] {
    float: right;
}

.row.post span.post-created {
    color: gray;
    margin-right: 10px;
    margin-left: 15px;
    font-size: 12px;
    margin-top: 5px
}
.row.post.my-post {
    background: #ccffcc;
}

.row.post span.post-person {
    margin-right: 10px;
    font-style: italic;
}

.td-actions > * {
    display: block;
}

.collapsed {
    display: none;
}

.unread-messages {
    display: inline-block;
    border-radius: 50%;
    background: green;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    color: white;
}