<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">

	<variable name="FileLogStoreDays" value="7" />

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="fileLog" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
			<target type="File" fileName="logs/${shortdate}.txt" layout="${longdate}|${event-properties:item=EventId_Id}|${threadid}|${aspnet-mvc-action}|${aspnet-user-identity}|${aspnet-TraceIdentifier:ignoreActivityId=true}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
			  archiveFileName="logs/{#}.txt" maxArchiveFiles="${FileLogStoreDays}" archiveDateFormat="yyyy-MM-dd" archiveNumbering="Date" archiveEvery="Day"/>
		</target>		
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="fileLog" />
	</rules>
</nlog>